<!-- Toute la barre de navigation a été générée grace au snippet bs5-navbar-complete --->

<!-- Chaque li dans le ul correspond à un élément de la barre de navigation --->

<nav>
    <ul>
        <li>
            <a href="{{ url_for('eleves_bp.liste_eleves') }}">Liste des élèves</a>
        </li>
        <li>
            <a href="{{ url_for('eleves_bp.liste_eleves') }}">Liste des Professeurs</a>
        </li>
        <li>
            <a href="{{ url_for('eleves_bp.liste_eleves') }}">Liste des Classes</a>
        </li>
    </ul>
</nav>
