<!-- 
Installer les extentions:
- better jinja
- Bootstrap 5 quick snippets
-->

<!doctype html>
<html lang="fr">
    <head>
        <title>Title</title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>

    <body>
        <header>
            {% include "navbar.jinja" %}
        </header>

        <main>

        {# Le block main contiendra le contenu principal de la page #}
        {% block main %}
        {% endblock %}

        </main>
        <footer>
            Réalisé par ............
        </footer>
    </body>
</html>
